# Node files and folders
/node_modules
package-lock.json

# Project building folder
/compressed


# Secrets
src/companionapp/url.json
src/extension/contentscript/url.json
url.json

# environment variables
.env
