# Node files and folders
/node_modules
package-lock.json

# Project building folder
/compressed
# temp folder for building webserver with nexe
.nexe

# Secrets
/CompanionApp/url.json
/Extension/url.json

# environment variables
.env
