# Node files and folders
/node_modules
package-lock.json

# Project building folder and files
/build
scripts/*.js


# Secrets
src/extension/contentscript/url.json
url.json

# environment variables
.env
